body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

button {
  margin: 1em;
  font-size: 3em;
  background-color: rgb(3, 78, 78);
  color: rgb(237, 245, 245);
  border: 10px solid rgb(27, 209, 200);
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  position: relative;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background-color: white;
  color: rgb(3, 78, 78);
  box-shadow: 3px 3px 1px rgb(3, 78, 78);
}
